body{
	margin: 0;
	font-family: sans-serif;
}
hr {
	border: 2px solid #7d97ad;
}

.header__inner {
	display: inline-block;
}

.header__inner {
	width: 100%;
}
.header__logo {
	height: 74px;
	width: 72px;
}
.title__container {
	float:right;
}
.header__title, .header__subtitle {
	margin-top: 0;
	margin-bottom: 0;
}
.header__title, .header__subtitle, 
.featured__work {
	font-weight: lighter;
}

.header__title {
	font-size: 42px;
	color: #2d3c49;
}
.header__subtitle {
	float: right;
	color: #2d3c49;
}
.hero {
	height: 300px;
	background-image: url('assets/hero-img.jpg');
	background-size: cover;
}
.featured__work {
	font-size: 32px;
	text-align: center;
	color: #7d97ad;
}
.projects ul {
	padding: 0;
	list-style: none;
}
.projects li {
	-webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    margin: auto;
}
.project__img {
	width: 100%;
	height: 200px;
}
.project__info {
	text-align: center;
}
.project__name {
	font-size: 30px;
	font-weight: lighter;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0;
	margin-right: 0;
}


@media screen and (min-width: 576px) {
	.header__title {
	font-size: 64px;
}
	.hero {
		height: 500px;
	}
	.featured__work {
		text-align: left;
		margin-left: 10px;
	}
	.projects li {
	-webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
	}
}

@media screen and (min-width: 992px) {
	.projects li {
	-webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
	}
}

